<?xml version="1.0" encoding="UTF-8"?>
<suite name="test" parallel="true">

   <listeners>

       <listener class-name="com.edu.own.Listener" />
       <listener class-name="org.uncommons.reportng.HTMLReporter" />
	   <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
   </listeners>

   <test name="test" preserver-order="true">
       <classes>
       <class name="com.edu.own.Casetestng"/>
       </classes>
   </test> <!-- Test -->
</suite> <!-- Suite -->