<?xml version="1.0" encoding="UTF-8"?>
<suite name="雪梨教育测试项目-学生部分" parallel="false">

   <listeners>
       <listener class-name="com.edu.core.WebTestListener" />
       <listener class-name="com.edu.core.WebTestListener2" />
       <listener class-name="org.uncommons.reportng.HTMLReporter" />
	   <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
       
   </listeners>

   <test name="登录" preserve-order="true" >
      <classes>         
          <class name="com.edu.test.Login_Test">
           <methods>             
             <include name="loginSuccess"></include>
             <include name="loginSuccess2"></include>
             <include name="loginfail"></include>
           </methods>
          </class>
      </classes>
   </test>
  <test name="搜索框" preserve-order="true" >  
        <classes>      
          <class name="com.edu.test.Search_Test">
           <methods>             
             <include name="search_success"></include>
             <include name="search_fail"></include>
             <include name="search_null"></include>
           </methods>
          </class>
         </classes>
   </test> 
          
   <test name="同步课" preserve-order="true" >  
        <classes>                
          <class name="com.edu.test.Coures_Apply_Test">
           <methods>             
             <include name="course"></include>
             <include name="course2"></include>
             <include name="ownCourse"></include>
           </methods>
          </class>
        </classes>
   </test>
   
   <test name="课程" preserve-order="true" >  
        <classes>           
          <class name="com.edu.test.Course_Test">
           <methods>             
             <include name="course_Search"></include>
             <include name="course_Search2"></include>
             <include name="course_Search3"></include>
             <include name="course_Look"></include>
           </methods>
         </class> 
       </classes>
   </test>
   
   <test name="通知" preserve-order="true" >  
        <classes>  
         <class name="com.edu.test.Notice_Test">
           <methods>             
             <include name="notice"></include>
             <include name="praise"></include>
             <include name="comment"></include>
           </methods>
         </class> 
        </classes>
   </test>
     
   <test name="任务提交" preserve-order="true" >  
        <classes>   
         <class name="com.edu.test.Work_Submit_Test">
           <methods>             
             <include name="code_file_txt"></include>
           </methods>
         </class>
        </classes>
   </test>
   
    <test name="修改作业" preserve-order="true" >  
        <classes> 
         <class name="com.edu.test.Work_Change_Test">
           <methods>             
             
             <include name="change_work"></include>
           </methods>
         </class>
         </classes>
   </test>
   
   <test name="查看作业" preserve-order="true" >  
        <classes>  
         <class name="com.edu.test.OverWork_Check_Test">
           <methods>             
             <include name="look_work"></include>
           </methods>
         </class>
        </classes>
   </test> 
   
   <test name="且说" preserve-order="true" >  
        <classes>        
         <class name="com.edu.test.QieShuo_Test">
           <methods>  
      
             <include name="comment"></include>
             <include name="commentCode"></include>
             <include name="comment2"></include>
             <include name="commentPic"></include>
                                
             <include name="commentLong"></include>
             <include name="commentLong_Fail1"></include>
             <include name="commentLong_Fail3"></include>
              
             <include name="commentLong_Fail2"></include>
           </methods>
         </class>
         </classes>
   </test>
   
  <test name="个人信息" preserve-order="true" >  
        <classes>  
         <class name="com.edu.test.Own_Message_Test">
           <methods>             
             <include name="own_Message"></include>
             <include name="edit_Message"></include>
             <include name="edit_PasswordFailed"></include>
             <include name="edit_PasswordFailed2"></include>
             <include name="edit_PasswordFailed3"></include>
             <include name="edit_Password"></include>            
             <include name="exit"></include>
           </methods>
         </class>
    </classes>
   </test>
        
</suite> <!-- Suite -->

