<?xml version="1.0" encoding="UTF-8"?>
<suite name="test" parallel="tests">

   <listeners>

       <listener class-name="com.edu.core.WebTestListener" />
       <listener class-name="com.edu.core.WebTestListener2" />
     
   </listeners>
  
   <test name="test" preserver-order="true">
      <classes>
           <class name="com.edu.test.Work_Submit_Test">
            <method>
              <include name="code_file_txt"></include>  
              <include name="change_Work"></include>  
              <include name="look_work"></include>               
            </method>
         </class>
      </classes>
   </test>
 
</suite> <!-- Suite -->