<?xml version="1.0" encoding="UTF-8"?>
<suite name="test" parallel="tests">
   <listeners>
	   <!-- listener class-name="org.uncommons.reportng.HTMLReporter" / --> 
       <!-- listener class-name="org.uncommons.reportng.JUnitXMLReporter" / -->
       <listener class-name="com.edu.core.ApiListener" />
       <!-- listener class-name="com.edu.core.WebTestListener2" / -->
     
   </listeners>
  
   <test name="test" preserver-order="true">
      <classes>
        	<class name="com.edu.scene.test.Login_Test">
        		<method>
        			<include name="login_test"></include>
        		</method>
        	</class> 	
     		 <class name="com.edu.scene.test.SkuList_Test">
        		<method>
        			<include name="skulist_test"></include>
        		</method>
        	</class> 
        	<class name="com.edu.scene.test.AddressList_Test">
        		<method>
        			<include name="getAddressList_test"></include>
        		</method>
        	</class>
        	 <class name="com.edu.scene.test.GetTranspotFee_Test">
        		<method>
        			<include name="getFee_test"></include>
        		</method>
        	</class>
        	<class name="com.edu.scene.test.AddAddress_Test">
        		<method>
        			<include name="addAddress_test"></include>
        		</method>
        	</class>
        	<class name="com.edu.scene.test.AddressDelete_Test">
        		<method>
        			<include name="addressDelete_test"></include>
        		</method>
        	</class>
      </classes>
   </test>
 
</suite> 