<?xml version="1.0" encoding="UTF-8"?>
<suite name="青果" parallel="tests">

   <listeners>
       <listener class-name="com.edu.core.ApiListener" />
       <listener class-name="org.uncommons.reportng.HTMLReporter" />
	   <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
       
   </listeners>


   
  <test name="查询运费" preserver-order="ture">
    <classes>
      <class name="com.edu.test.TransFeeTest">
           <methods>             
             <include name="feeTest"></include>
             <include name="feeTest2"></include>
             <include name="feeTest3"></include>
             <include name="feeTest4"></include>
             <include name="feeTest5"></include>
             <include name="feeTest6"></include>
             <include name="feeTest7"></include>
             <include name="feeTest8"></include>
             <include name="feeTest9"></include>
             
           </methods>
          </class>
    </classes>
  </test>
 </suite>
          
